body {
    background: url("https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png");
    background-size: cover;
    display: grid;
}

h1{

}

#searchPokemon {
    position: absolute;
    padding-top: 50px;
}

#evolutionPokemon {
    position: relative;
    grid-column: 2;
}