body {
    background: url("https://i.pinimg.com/originals/df/4e/8b/df4e8ba28f912bf9cdf9fa0dfc196411.png");
    background-size: cover;
    height: 100%;
    display: grid;

}

h1 {
    position: absolute;
    grid-gap: 20px;
}

form {
    padding-top: 5px;
}

#searchPokemon {
    position: relative;
    justify-items: start;
    grid-row: 2;
}

#evolutionPokemon {
    position: relative;
    grid-column: 2;
}